extends pug/layouts/global.pug

block content
	.container
		h1 Content
		div(data-module="loadcontainer" data-module-options="{ name: 'ContainerTest' }")
		div(data-module="slickjs" data-module-options="{ rows: 0 }")
			img.slick-slide(src="https://unsplash.it/400/400")
			img.slick-slide(src="https://unsplash.it/400/400")
			img.slick-slide(src="https://unsplash.it/400/400")
			img.slick-slide(src="https://unsplash.it/400/400")
			img.slick-slide(src="https://unsplash.it/400/400")
